#header
	%h1 Tweets for #tad012
#content
	%table
		%thead
			%tr
				%th User
				%th Tweet
				%th When
		%tbody
		- @tweets.each do |tweet|
			%tr
				%td= tweet.from_user
				%td= tweet.text
				%td{:class => 'date'}= tweet.tweeted_at.in_time_zone("Europe/Helsinki").strftime('%d.%m.%Y, %H:%M')