#header
	%h1 Tweets for #tad012
#content
	%table
		%thead
			%tr
				%th User
				%th Tweet
				%th When
		%tbody
		- @tweets.each do |tweet|
			%tr
				%td= tweet.from_user
				%td= tweet.text
				%td= tweet.tweeted_at