%html
	%head
		%title Tweets for #tad012
		%link{:rel => 'stylesheet', :href => '/styles.css'}
		%link{:href => 'http://fonts.googleapis.com/css?family=Kreon:400,700', :rel=> 'stylesheet', :type=>'text/css'}
		%script{:src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'}
		%script{:src => '/index.js'}
	%body
	=yield

	%a{:href => 'https://github.com/turkuagileday/twitterpersister'}
		%img{:style =>'position: absolute; top: 0; right: 0; border: 0;', :src => 'https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png', :alt => 'Fork me on GitHub'}